<div id="help">

<p><strong>MVP User Stories</strong></p>

<ol>
  <li>As a visitor, I want to see the list of flights that are available each day.
      <span><br/>HINT: Don't worry about mileage or duration at first.  When you're ready, use a model callback to calculate those when needed.</span></li>
  <li>As a visitor, I want to create a user account, so that I can make reservations.</li>
  <li>As a user, I want to see a profile page that shows how many frequent flyer miles I’ve earned.</li>
  <li>As a user, I want to make a reservation.</li>
  <li>As a user, I expect my frequent flyer mileage total to increase every time I reserve a flight.</li>
  <li>As a user, I want to see my reservations in my account profile.</li>
  <li>As a user, I want to search for flights by airport code.</li>
  <li>As a user, I want to search for flights by airport code or city name.</li>
  <li>As a user, I want to first see my account profile when I login.</li>
  <li>As a user, I want to receive an email confirming my reservation.</li>
</ol>

<p id="ground_rules"><strong>Ground Rules (get it?)</strong></p>
<ol>
  <li>Planes fly at about 6 miles per minute, so the arrival time and flight duration could, in theory, be calculated rather than stored in the database.</li>
  <li>Every Academy Air flight costs the same: $70.</li>
  <li>We only accept Visa credit cards.  Visa cards are 16-digits numbers that always start with the number 4.</li>
</ol>


</div>