<h2>Daily Flight Schedule</h2>

<div id="search">
	<label for="keyword">Search:</label><input type="text" name="keyword" placeholder="Enter an Airport Code" size="30">
</div>

<table>
  <thead>
    <tr>
      <th>
      <th>Flight Number</th>
      <th>Leaves</th>
      <th>Time</th>
      <th>Arrives</th>
      <th>Time</th>
      <th>Seats Remaining</th>
      <th>Miles</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><button>Book Now</button></td>
      <td>104</td>
      <td>ORD</td>
      <td>10:00 am</td>
      <td>SFO</td>
      <td>1:00 pm</td>
      <td>60</td>
      <td>1846</td>
    </tr>
    <tr>
      <td><button>Book Now</button></td>
      <td>216</td>
      <td>JFK</td>
      <td>10:00 am</td>
      <td>LAX</td>
      <td>1:00 pm</td>
      <td>8</td>
      <td>2475</td>
    </tr>
    <tr>
      <td></td>
      <td>908</td>
      <td>ORD</td>
      <td>10:00 am</td>
      <td>BOS</td>
      <td>1:00 pm</td>
      <td>0</td>
      <td>866</td>
    </tr>
    <tr>
      <td><button>Book Now</button></td>
      <td>761</td>
      <td>JFK</td>
      <td>10:00 am</td>
      <td>BOS</td>
      <td>1:00 pm</td>
      <td>42</td>
      <td>186</td>
    </tr>
    
  </tbody>
</table>